<div class = "surveys">
	<h2><%=@survey.title %></h2>
<table>
<form action='/submissions/<%= @submission.id %>' method='post'>
	<ul>
		<% @questions.each do |question| %>
			<li>
				<tr><td><%= question.prompt %></td></tr>
				<tr>
					<% question.choices.each do |choice| %>
						<tr>
							<td><label for="<%= choice.body %>"><%= choice.body %></label>
						<input type="radio" name="answers[:<%= question.id %>]" value="<%= choice.id %>"></td>
						</tr>
					<% end %>
			</li>
		<% end %>
	</ul>
	<input type="submit" name="submit survey">
</form>

</div>
